* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: burlywood;
}
section > ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100vw;
  height: 100vh;
  list-style-type: none;
}
section > ol > li {
  counter-increment: item;
  width: 45%;
  margin: 10px;
}

section > ol > li::before {
  content: counter(item) ".";
  background-color: blueviolet;
  padding: 5px 15px;
  border-radius: 15px;
  color: white;
}
section > ol > li > p:nth-child(1) {
  display: inline-block;
}
