:root {
  --color-violet: #8b48bf;
  --color-light-blue: #3cddf3;
  --color-gray-blue: #1e1e26;
  --color-dark-blue: #232851;
  --color-variant-gray: rgb(249, 249, 249);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  padding: 0 40px;
  height: 100px;
  width: 100%;
}
header > nav {
  display: none;
}
header > button > a {
  display: none;
}
header > img {
  height: 28px;
}
header > button {
  border: none;
  background-color: #fff;
}
header > button > img {
  width: 30px;
  height: 25px;
}

section.banner {
  padding: 0 40px;
  text-align: right;
}
section.banner > img {
  width: 100%;
  height: 100%;
}
section.banner > h2 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 3rem;
}
section.banner > button {
  margin: 15px 0;
  padding: 10px 40px;

  border: none;
  border-radius: 20px;
  background-color: var(--color-violet);
  color: #fff;
}
