:root {
  --color-violet: #8b48bf;
  --color-light-blue: #3cddf3;
  --color-gray-blue: #1e1e26;
  --color-dark-blue: #232851;
  --color-variant-gray: rgb(249, 249, 249);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  padding: 0 40px;
  height: 100px;
  width: 100%;
}
header > nav {
  display: none;
}
header > button > a {
  display: none;
}
header > img {
  height: 28px;
}
header > button {
  border: none;
  background-color: #fff;
}
header > button > img {
  width: 30px;
  height: 25px;
}

section.banner {
  padding: 0 40px;
  text-align: right;
}
section.banner > img {
  width: 100%;
  height: 100%;
}
section.banner > h2 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 3rem;
}
section.banner > button {
  margin: 15px 0;
  padding: 10px 40px;

  border: none;
  border-radius: 20px;
  background-color: var(--color-violet);
  color: #fff;
}

section.subbanner {
  padding: 20px 20px;
  background-color: var(--color-light-blue);
  color: #fff;
}
section.subbanner > h2 {
  padding: 20px 0 30px;
  font-size: 2.25rem;
  font-weight: 700;
}
section.subbanner > p {
  padding-bottom: 20px;
  font-size: 1rem;
}

/* Puede cambiarse el ol + li por un div + span dentro de h3 */
section.differents {
  padding: 40px 0 40px 20px;
}
section.differents > ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  list-style-type: none;
}
section.differents > ol > li {
  counter-increment: item;
  margin: 15px 0;
}
section.differents > ol > li::before {
  content: "0" counter(item);
  background-color: var(--color-violet);
  padding: 6px 20px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
}
section.differents > ol > li > h3 {
  display: inline-block;
  margin: 0 0 20px -20px;
  padding: 7px 0 6px 50px;
  width: 90%;
  background-color: rgba(139, 72, 191, 0.3);
  font-size: 0.9rem;
}
section.differents > ol > li > p {
  color: rgb(179, 178, 183);
  font-size: 1.0188rem;
}

section.bestmonth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  padding: 0 40px;
  text-align: center;
}
section.bestmonth > h2 {
  color: var(--color-gray-blue);
  font-size: 2.5rem;
}
section.bestmonth > article > img {
  margin-top: 60px;
}
section.bestmonth > article > h3 {
  margin: 20px 0;
  color: #3f4868;
  font-size: 1rem;
}
section.bestmonth > article > p {
  color: rgb(179, 178, 183);
  font-size: 1.25rem;
  font-weight: 500;
}

section.message {
  background-color: var(--color-light-blue);
  color: #fff;
  text-align: center;
}
section.message > h2 {
  padding: 45px 55px;
  font-size: 2.5rem;
  font-weight: 700;
}
section.message > button {
  /* Reusar boton */
  margin: 0 0 45px;
  padding: 10px 40px;

  border: none;
  border-radius: 20px;
  background-color: var(--color-dark-blue);
  color: #fff;
}

footer {
  padding: 0 40px;
  background-color: var(--color-gray-blue);
  color: #fff;
  text-align: center;
}

footer > form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  padding: 50px 0;
  height: 120px;
}
footer> form > input {
  padding: 12px 18px;
  width: 380px;

  border: none;
  border-radius: 20px;
  font-size: 0.8125rem;
  background-color: #fff;
}
footer > form > button {
  padding: 12px 18px;
  margin-left: 10px;

  border: none;
  border-radius: 20px;
  font-size: 0.8125rem;
  background-color: var(--color-violet);
  color: #fff;
}

footer> ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding: 0 20px;
}
footer> ul > li {
  padding-left: 10px;
  height: 40px;
  width: 50%;

  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

footer >div>  div.rrss {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  margin: 50px 0;
  padding: 0 20px;
}
footer > p {
  padding: 50px 0;
  color: #8c8c94;
  font-size: 0.7813rem;
}

@media screen and (min-width: 1440px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
  }
  header > button > img {
    display: none;
  }
  header > nav {
    display: block;
  }
  header > nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;

    width: 30vw;
    list-style: none;
  }
  header > button > a {
    display: inline;
    margin: 0 0 45px;
    padding: 10px 40px;

    border: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: var(--color-violet);
    color: #fff;
  }

  /* provisional */
  section.banner > img {
    width: 540px;
    height: 460px;
  }

  section.subbanner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    padding: 20px 15vw;
    background-color: var(--color-violet);
  }
  section.subbanner > h2 {
    width: 50%;
  }
  section.subbanner > p {
    width: 45%;
    margin-left: 50px;
  }

  /* Pendiente section.differents */
  section.bestmonth > h2 {
    width: 100%;
  }

  section.bestmonth > article {
    width: 33%;
    margin-bottom: 100px; /*!eliminar*/
  }
  /*  Agregar boton  */

  section.message {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;

    padding: 0 15vw;
    background-color: var(--color-violet);
    text-align: left;
  }
  section.message > button {
    margin: 0;
    background-color: #fff;
    color: var(--color-violet);
  }

  /* footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
  }
  footer > p:last-child {
    display: none;
  }
  footer > p:first-child {
    display: flex;
    width: 20%;
  }
  foooter > p {
    width: 10%;
  }
  foooter > div.rrss {
    width: 30%;
  }
  footer > div.list {
    width: 60%;
  }
  footer > div.email {
    width: 40%;
  } */
}
